<!-- bg-primary, bg-success, bg-warning, bg-info and bg-danger-->
<nav class="navbar navbar-expand-md navbar-light bg-info sticky-top">
    <button class="navbar-toggler" data-toggler="collapse" data-target="#data_collapse">
    </button>
    <div class="navbar-collapse" id="data_collapse">
    <a class="navbar-brand"><img src="/assets/img/admin.png" width=50 height=50></a>
    <span class="navbar-text"></span>

        <ul class="navbar-nav">
            <li class="nav-item">
            <a class="nav-link" style="font-weight: bold;" routerLink="/admin">Admindashbord</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" style="font-weight: bold;" routerLink="/doctordetail">Doctordetails</a>
            </li>

            <li class="nav-item">
            <a class="nav-link" style="font-weight: bold;" routerLink="/patientdetail">PatientDetails</a>
            </li>

            <li class="navbar-item">
            <a class="nav-link" style="font-weight: bold;" routerLink="/login">Logout</a>
            </li>
        </ul>
    </div>
</nav> 


<div class="content">
    <section class="section">
    <div style="background-color: skyblue; width: 100vw; height:100vh">   
    <router-outlet></router-outlet>   
    </div>
    </section>
</div>