<div class="container-fluid">
<div class="row">
<div class="col-md-4">
    <div>
        <img src="/assets/img/patientprofile.png" width="200px" height="200px"> 
     </div><br>
    <h3>{{patient.firstname}} {{patient.lastname}}</h3><br>
    <table class="table table-bordered"> 
        <tr><td>Role: </td><td>{{patient.role}}</td></tr>
        <tr><td>Email:</td><td> {{patient.email}}</td></tr>
        <tr> <td>Sex:</td> <td>{{patient.sex}}</td></tr>
        <tr><td>Phone Number:</td> <td>{{patient.phone_no}}</td></tr>
        <tr><td>Password:</td> <td>{{patient.password}}</td></tr> 
    </table>
</div>
</div>
</div>
